[user]
    name = Ignasi Barrera
    email = nacx@apache.org

[core]
    editor = vim

[color]
    status = auto
    interactive = auto
    diff = auto
    branch = auto
    ui = auto

[alias]
    st = status
    ci = commit
    co = checkout
    pl = pull
    ps = push
    pr = pull --rebase
    br = branch
    lg = log --graph

[apply]
    whitespace = nowarn

[format]
    pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
    #pretty=format:%h (%ad %an) %s

